class Example extends React.Component {

  render() {
    const inputStyle = {
      height: 40,
      border: '1px solid lightgrey',
      borderRadius: 4,
      padding: 5,
      fontSize: 16
    };

    const labelStyle = {
      height: 38,
      width: 90,
      borderRadius: '0px 4px 4px 0px',
      lineHeight: '40px',
      textAlign: 'center',
      paddingLeft: 10,
      paddingRight: 10,
      backgroundColor: '#F0F0F0',
      boxSizing: 'border-box',
      margin: '1px 1px 1px 5px'
    };

    const imgStyle = {
      float: 'left',
      width: 30,
      height: 30,
      margin: '5px 5px 0 10px'
    };

    return (
      <div style={{ width: 350 }}>
        <h2>Anything you want</h2>
        <InputChildren style={inputStyle}>
          <img src='http://api.adorable.io/avatars/285/franc' style={imgStyle}/>
          <div style={labelStyle}>Yay!</div>
        </InputChildren>
      </div>
    );
  }
}
