class Example extends React.Component {

  render() {
    const labelStyle = {
      height: 32,
      width: 90,
      borderRadius: '0px 4px 4px 0px',
      lineHeight: '32px',
      textAlign: 'center',
      padding: '0 10px',
      backgroundColor: '#F0F0F0',
      boxSizing: 'border-box',
      marginRight: 1
    };

    const imgStyle = {
      float: 'left',
      width: 24,
      height: 24,
      margin: '4px 8px'
    };

    return (
      <div style={{ width: 350 }}>
        <InputChildren wrapper={{ className: 'input-children' }}>
          <img src='http://api.adorable.io/avatars/285/franc' style={imgStyle}/>
          <div style={labelStyle}>Yay!</div>
        </InputChildren>
      </div>
    );
  }
}
