class Example extends React.Component {

  onButtonClick = () => {
    alert('clicked!');
  }
  
  render() {

    const buttonStyle = { height: 32,
      borderWidth: '0 0 0 1px',
      borderRadius: '0px 4px 4px 0px',
      marginRight: 1,
      fontSize: '14px'
    };

    return (
      <div style={{ width: 350 }}>
        <InputChildren wrapper={{ className: 'input-children', style: { overflow: 'hidden' } }}>
          <Button style={buttonStyle} onClick={this.onButtonClick}>Button label</Button>
        </InputChildren>
      </div>
    );
  }
}
