class Example extends React.Component {

  constructor(props) {
    super(props)
    this.state = {
      showPassword: false
    };
  }

  togglePasswordVisibility = () => {
    this.setState({ showPassword: !this.state.showPassword });
  }

  render() {
    const inputStyle = {
      height: 40,
      border: '1px solid lightgrey',
      borderRadius: 4,
      padding: 5,
      fontSize: 16
    };

    const linkStyle= {
      color: 'green',
      cursor: 'pointer',
      padding: 10
    };

    const passwordMessage = this.state.showPassword ? 'hide' : 'show';
    const passwordType = this.state.showPassword ? '' : 'password';
    return (
      <div style={{ width: 350 }}>
        <h2>Password</h2>
        <InputLink type={passwordType} style={inputStyle} placeholder='Try writing something!' defaultValue='hide me!'>
          <a style={linkStyle} onClick={this.togglePasswordVisibility}>{passwordMessage}</a>
        </InputLink>
      </div>
    );
  }
}
