// import InputChildren from 'react-input-children';

class Example extends React.Component {

  state = { showPassword: false };

  togglePasswordVisibility = () => {
    this.setState({ showPassword: !this.state.showPassword });
  }

  render() {

    const iconStyle = {
      cursor: 'pointer',
      marginRight: 10,
      fontSize: '14px',
      color: '#1a91eb'
    };

    const passwordType = this.state.showPassword ? 'text' : 'password';
    const icon = this.state.showPassword ? 'hide' : 'eye2';
    const iconPaths = this.state.showPassword ? 9 : 1;
    return (
      <div style={{ width: 350 }}>
        <InputChildren
          type={passwordType}
          placeholder='Type password'
          defaultValue='secret password!'
          wrapper={{ className: 'input-children' }}
        >
           <Icon
            icon={icon}
            paths={iconPaths}
            onClick={this.togglePasswordVisibility}
            style={iconStyle}
          />
        </InputChildren>
      </div>
    );
  }
}
